@charset "UTF-8";
/* ================================
# 四角ボタン コンポーネント
=================================*/
.c-btn {
  position: relative;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.c-btn:after {
  /* === 「＞」などの記号を付加 === */
  content: '';
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c-btn__txt, .c-btn__icon {
  vertical-align: middle;
}

/* ================================
# 丸ボタン　コンポーネント
=================================*/
.c-btn-circle {
  position: relative;
  border-radius: 50%;
  text-align: center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.c-btn-circle:after {
  /* === 「＞」などの記号を下に付加 === */
  content: '';
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
