//ブレークポイント定義
$breakpoints: (
    'sm': 'screen and (max-width: 576px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

//メディアクエリ関数
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* ================================
# フォーム
=================================*/
/* ===テキストボックス=== */
.c-form {
  margin-bottom: 20px;
  &__label {
    display: inline-block;
    margin-right: 10px;
    width: 280px;
  }
  @include mq() {
    &__label {
      width: auto;
      margin-right: 10px;
    }
  }
}
/* ===セレクトボックス=== */
.c-form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &__label {
  }


  &__content {
    width: auto;
  }

  @include mq() {
    display: inherit;

    &__content {
      width: 100%;
    }
  }
}

/* ===テキストボックス=== */
.c-form-text { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  &__label {
  }  

  &__require {
      width: 10%;
      &--mark {
        background-color: #FF4646;
        border-radius: 5px;
        color: white;
        padding: 2px 10px;
      }
  }
  &__text {
      width: auto
  }

  @include mq() {
    display: inherit;
    &__label {
      display: inline-block;
    }  
    &__require {
      display: inline-block;
      width: auto;
    }
    &__text {
      width: 100%;
    }
  }
}

/* ===ラジオボタン=== */
.c-form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  @include mq() {
    display: inherit;
    &__label {
      display: inline-block;
    }  
    &__content {
      width: 100%;
    }
  }


}